<section class="pagination">
  <label for="itemsPerPage">Rows per page: </label>
  <select
    id="itemsPerPage"
    name="itemsPerPage"
    onchange="changeItemsPerPage(this)"
  >
    <option value="3">3</option>
    <option value="5">5</option>
    <option value="10">10</option>
    <option value="20">20</option>
    <option value="50">50</option>
  </select>

  <% if (hasPreviousPage) { %>
  <a href="/allBooks?page=<%= previousPage %>"><%= previousPage %></a>
  <% } %>

  <a href="/allBooks?page=<%= currentPage %>" class="active"
    ><%= currentPage %></a
  >

  <% if (hasNextPage) { %>
  <a href="/allBooks?page=<%= nextPage %>"><%= nextPage %></a>
  <% } %> <% if (currentPage !== lastPage && nextPage !== lastPage) { %>
  <a href="/allBooks?page=<%= lastPage %>"><%= lastPage %></a>
  <% } %>
</section>
